.nav {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;

}

.nav_link:hover {
    color: rgb(64, 226, 43);
}

.nav_link:active {
    color: rgb(43, 226, 98);
}